/* @import "./toc.css"; */

.content-container {
  --max-width: min(680px, 100%);
  --article-paddding: 8rem;
  --text-width: calc(var(--max-width) - 2rem);

  max-width: var(--max-width);
  padding: 2rem 1rem;
  width: 100%;
  margin: 0 auto;
  hello: world;
}

blockquote {
  background: hsl(220deg 12% 98%);
  border-left: 3px solid var(--border-color);
  padding: 0.75rem 1rem;
  display: block;
  font-style: normal;
  border-radius: 0 3px 3px 0;
  font-size: 1rem;
}

article {
  --text-color: rgb(32 32 32);
  --dark: rgb(23 23 23);

  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  letter-spacing: 0.004em;
  color: var(--text-color);
}

article h2:hover .header-anchor {
  opacity: 1;
}

article ol li::marker {
  width: 1.75rem;
  color: var(--color-text);
}

article ul li::marker {
  color: var(--color-text);
}

article ul {
  list-style-type: disc;
}
/* article > * {
  grid-column: 2;
  max-width: min(650px, 100%);
  margin: 0 auto;
  margin-bottom: 1.5rem
} */

article :is(img, picture) {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  background: var(--pc, #dfdfdf);
  display: block;
}

article > :is(img, picture),
article > * {
  margin-bottom: 1.5rem;
}

article header + * {
  margin-top: 2rem;
}

article :is(.code-snippet, .illustration, figure) {
  max-width: min(780px, 70vw);
}

article > .content-container {
  margin-top: 1rem;
}

article p {
  line-height: 1.75;
}

article header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  width: calc(100% + 2rem);
  padding: 0 1rem;
  margin: 4rem -1rem 6rem;
}

article header::before {
  content: '';
  position: absolute;
  inset: -2rem;
  left: calc(-1 * calc(780px - 650px));
  background: #f5f5f7;
  border-radius: 10px;
  border: 1px solid #eee;
  width: 200vw;
  z-index: -1;
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
  /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); */
}

article h1 {
  margin: 0;
  letter-spacing: clamp(0em, -0.875rem + 8.333vw, 0.04em);
  /* line-height: clamp(32px, -0.875rem + 8.333vw, 70px); */
  font-size: clamp(2rem, -0.875rem + 8.333vw, 4rem);
  background-image: linear-gradient(140deg, #171717 12.09%, #262626 42.58%, #1e293b 84.96%);
  line-height: unset;
  font-weight: 700;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.article-metadata {
  display: flex;
  gap: 0 3rem;
  margin: 0;
  color: #525252;
  /* font-family: Helvetica,sans-serif; */
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: unset;
  letter-spacing: 0.1px;
}

h1 + .article-metadata {
  margin-top: 1rem;
  color: #525252;
}

.article-published-on {
  margin: 0;
  font-size: 1rem;
  font-weight: unset;
  letter-spacing: 0.1px;
}

article picture {
  /* float: left TODO */
}

article h2 {
  --line-height: 36px;
  --dark: rgb(41 41 41);

  line-height: var(--line-height);
  display: inline;
  letter-spacing: 0;
  font-size: 1.875rem;
  font-weight: 700;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0;
  scroll-margin-top: 1.5rem;
}
/*
article ul li {
  position: relative;
  margin: 0.75rem 0;
  padding-left: 1.75rem
} */
/*
article ul li::before {
  content: "";
  position: absolute;
  background-color: var(--black);
  border-radius: 50%;
  width: 0.375rem;
  aspect-ratio: 1;
  top: 11px;
  left: 0.25em
}

article ul li::marker {
  color: transparent;
  display: none
} */

article .full-bleed {
  width: 100vw;

  --offset: calc(100vw - var(--text-width));

  transform: translateX(calc(var(--offset) / -2));
}

article a {
  color: inherit;
}

article :not(pre) > code {
  margin: 0;
  position: relative;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  padding: 3px 6px;
  white-space: nowrap;
  z-index: 1;
}

article :not(pre) > code::before {
  position: absolute;
  border-radius: 3px;
  inset: 0;
  content: '';
  z-index: -1;
  background-color: #eee;
  /* box-shadow: 0 0 0 calc(1px + 0px) #dbdbdb */
}

article :not(pre) > code[tabindex]::selection {
  color: inherit;
}
/* article :not(pre) > code::before {
  position: absolute;
  border-radius: 3px;
  inset: 0;
  content: "";
  z-index: -1;
  background-color: #ececec;
  background-color: hsl(240deg 15% 91%);
  box-shadow: 0 0 0 calc(1px + 0px) #dbdbdb
}

article :not(pre) > code[tabindex]:hover::before {
  box-shadow: 0 0 0 calc(1px + 0px) hsl(0deg 0% 75%)
}

article :not(pre) > code[tabindex]:focus::before {
  box-shadow: 0 0 0 calc(1px + 0px) var(--dark);
} */

article pre code {
  display: block;
  overflow: auto;
  cursor: initial;
  border: 1px solid var(--border-color);
  border-radius: 7px;
}

:is(article p, .me p) a {
  font-weight: 500;
  /* text-decoration: none; */
  color: var(--link-color);
  text-decoration: none;
  /* box-shadow: 0 2px 0 #1fc7ae; */
}

:is(article p, .me p) a:hover {
  /* --link-color: #175a86; */
  text-decoration: underline;
  /* box-shadow: 0 2px 0 var(--link-color); */
}

@media only screen and (max-width: 84ch) {
  article li,
  article > p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1080px) {
  /* article { --article-paddding: 5rem } */

  article :is(.code-snippet, .illustration, figure) {
    grid-column: 1 / -1;
    max-width: min(780px, 100%);
  }
}

@media only screen and (max-width: 780px) {
  article .editor {
    width: 100%;
    margin-left: 0;
  }
  /* article { --article-paddding: 0 } */
}

@media print {
  article > * {
    max-width: 100%;
  }

  article :is(.code-snippet, .illustration, figure) {
    max-width: 100%;
  }
}
